.header {
  background-size: cover;
  background-position: center;
  background-color: $light-grey;
  background-image: url(../images/header.jpg);

  &__content {
    box-sizing: border-box;
    height: 100vh;
    padding: $headerTopPadding 0;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__top {
    @include topAction;
  }

  &__title {
    margin: 0 0 140px;
    font-weight: 700;
    font-size: 36px;
    line-height: 100%;
    text-align: center;
    letter-spacing: -1.5px;
    color: $dark-grey;

    @include onTablet {
      font-size: 64px;
    }
    @include onDesktop {
      font-size: 80px;
    }
  }
}
