.header {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 85%;
  background-color: $light-grey;
  background-image: url(../images/header.png);

  @include onTablet {
    background-position: center;
  }

  &__content {
    box-sizing: border-box;
    height: 480px;
    padding: 30px 0 88px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include onTablet {
      height: 628px;
      padding: 36px 0 130px;
    }

    @include onDesktop {
      height: 711px;
      padding-bottom: 203px;
    }
  }

  &__top {
    @include topAction;
  }

  &__title {
    margin: 0;
    font-weight: 700;
    font-size: 36px;
    line-height: 100%;
    text-align: center;
    letter-spacing: -1.5px;
    color: #fff;

    @include onTablet {
      font-size: 64px;
    }
    @include onDesktop {
      font-size: 80px;
    }
  }
}
